<a href="https://colab.research.google.com/github/lustraka/puzzles/blob/main/AoC2021/AoC_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advent of Code Puzzles
[Advent of Code 2021](https://adventofcode.com/2021)

In [1]:
import requests
import pandas as pd
import numpy as np
path = 'https://raw.githubusercontent.com/lustraka/puzzles/main/AoC2021/data/'

## Day 5: Hydrothermal Venture

In [ ]:
example = """0,9 -> 5,9
8,0 -> 0,8
9,4 -> 3,4
2,2 -> 2,1
7,0 -> 7,4
6,4 -> 2,0
0,9 -> 2,9
3,4 -> 1,4
0,0 -> 8,8
5,5 -> 8,2"""

## Day 4: Giant Squid

In [2]:
example = """7,4,9,5,11,17,23,2,0,14,21,24,10,16,13,6,15,25,12,22,18,20,8,19,3,26,1

22 13 17 11  0
 8  2 23  4 24
21  9 14 16  7
 6 10  3 18  5
 1 12 20 15 19

 3 15  0  2 22
 9 18 13 17  5
19  8  7 25 23
20 11 10 24  4
14 21 16 12  6

14 21 17 24  4
10 16 15  9 19
18  8 23 26 20
22 11 13  6  5
 2  0 12  3  7"""

In [3]:
def parse(data):
  lst = data.split('\n')
  # Read drawn numbers
  drawn = [int(n) for n in lst[0].split(",")]
  # Read boards
  boards = []
  for i in range(1, len(lst)-1, 6): # Index of an empty rows
    board = []
    for j in range(1, 6):
      line = [int(n) for n in lst[i+j].split()]
      board.append(line)
    boards.append(board)
  return drawn, boards

drawn, boards = parse(example)

In [4]:
def flatten(board):
  flat = []
  for i in range(len(board)):
    flat +=board[i]
  return flat

def sum_unmarked(board, nums):
  return sum(set(flatten(board)).difference(set(nums)))

In [5]:
def check_board(board, nums):
  # Check rows
  for i in range(5):
    if set(board[i]).issubset(nums):
      print(board[i])
      return [sum_unmarked(board, nums), nums[-1]]
  # Check columns
  for i in range(5):
    col = [row[i] for row in board]
    if set(col).issubset(nums):
      print(col)
      return [sum_unmarked(board, nums), nums[-1]]
  return [0, 0]

In [6]:
def solve_part1(data):
  drawn, boards = parse(data)
  for i in range(5, len(drawn)):
    for j in range(len(boards)):
      sum, called = check_board(boards[j], drawn[:i])
      if called:
        print(sum , '*', called, '=')
        return sum * called

solve_part1(example)

[14, 21, 17, 24, 4]
188 * 24 =

4512

In [7]:
r = requests.get(path+'AoC2021_04.txt')
data = r.text

In [8]:
solve_part1(data)

[84, 18, 0, 65, 39]
835 * 65 =

54275

In [30]:
def solve_part2(data):
  drawn, boards = parse(data)
  last_win = [0, 0]
  for i in range(5, len(drawn)):
    # Remove winning boards
    go_on, j = True, 0
    while go_on:
      sum, called = check_board(boards[j], drawn[:i])
      if sum:
        last_win = [sum, called]
        boards.remove(boards[j])
      if len(boards) == 1 or j >= len(boards)-1:
        go_on = False
      j += 1
    print(i, ":", last_win)
    if len(boards) == 1:
      break
  # Either last board or last number drawn here
  if len(boards) == 1:
    for k in range(i,len(drawn)):
      sum, called = check_board(boards[0], drawn[:k])
      if sum:
        return sum * called
  else:
    for j in range(len(boards)):
      sum, called = check_board(boards[j], drawn)
      if sum:
        last_win = [sum, called]
      break
  return last_win[0] * last_win[1]

In [31]:
solve_part2(example)

5 : [0, 0]
6 : [0, 0]
7 : [0, 0]
8 : [0, 0]
9 : [0, 0]
10 : [0, 0]
11 : [0, 0]
[14, 21, 17, 24, 4]
12 : [188, 24]
13 : [188, 24]
[21, 9, 14, 16, 7]
14 : [137, 16]
[0, 13, 7, 10, 16]

1924

In [32]:
drawn, boards = parse(data)
solve_part2(data)

5 : [0, 0]
6 : [0, 0]
7 : [0, 0]
8 : [0, 0]
9 : [0, 0]
10 : [0, 0]
11 : [0, 0]
12 : [0, 0]
13 : [0, 0]
14 : [0, 0]
15 : [0, 0]
16 : [0, 0]
17 : [0, 0]
18 : [0, 0]
19 : [0, 0]
20 : [0, 0]
21 : [0, 0]
22 : [0, 0]
23 : [0, 0]
24 : [0, 0]
25 : [0, 0]
26 : [0, 0]
27 : [0, 0]
[84, 18, 0, 65, 39]
28 : [835, 65]
[72, 42, 58, 70, 7]
29 : [847, 58]
30 : [847, 58]
31 : [847, 58]
32 : [847, 58]
33 : [847, 58]
34 : [847, 58]
[14, 79, 35, 96, 30]
35 : [718, 14]
[42, 75, 18, 72, 95]
[15, 25, 39, 95, 83]
36 : [627, 95]
[66, 41, 18, 29, 2]
[81, 2, 66, 39, 29]
37 : [580, 66]
[61, 41, 39, 44, 30]
[8, 61, 15, 88, 25]
38 : [673, 61]
39 : [673, 61]
40 : [673, 61]
[61, 94, 96, 57, 41]
[83, 57, 7, 75, 89]
[88, 46, 57, 83, 8]
41 : [807, 57]
42 : [807, 57]
[2, 55, 39, 52, 89]
[79, 29, 90, 55, 84]
43 : [519, 55]
[7, 0, 70, 32, 41]
44 : [445, 32]
45 : [445, 32]
46 : [445, 32]
47 : [445, 32]
[55, 72, 98, 25, 96]
48 : [743, 98]
[97, 1, 83, 20, 61]
[67, 1, 46, 7, 39]
[67, 14, 25, 84, 1]
49 : [508, 1]
[95, 83, 69, 8, 29]
50 : [752, 69]
[63, 72, 98, 90, 57]
[63, 37, 83, 52, 1]
51 : [426, 63]
[14, 62, 46, 61, 84]
[25, 30, 62, 17, 54]
[29, 62, 70, 84, 52]
[96, 57, 62, 54, 75]
[90, 62, 14, 8, 83]
[62, 35, 94, 57, 97]
52 : [553, 62]
[2, 31, 68, 35, 75]
[58, 31, 62, 32, 29]
[96, 72, 31, 44, 30]
[42, 75, 62, 57, 68]
53 : [453, 31]
[41, 72, 86, 90, 68]
[70, 61, 86, 25, 0]
[86, 46, 30, 57, 18]
[97, 86, 66, 7, 63]
54 : [432, 86]
[58, 8, 44, 57, 77]
[77, 31, 2, 70, 61]
[37, 7, 77, 0, 66]
55 : [480, 77]
[85, 0, 68, 57, 14]
[55, 85, 88, 52, 14]
[77, 88, 81, 85, 18]
[14, 96, 72, 70, 85]
56 : [599, 85]
[63, 67, 87, 88, 62]
57 : [467, 87]
[14, 87, 93, 35, 29]
[7, 35, 93, 29, 94]
[90, 52, 87, 93, 67]
[93, 61, 54, 47, 55]
[0, 93, 63, 47, 35]
58 : [262, 93]
[7, 39, 26, 58, 44]
[72, 26, 89, 17, 29]
[69, 32, 93, 83, 42]
[98, 42, 29, 26, 62]
59 : [491, 26]
[14, 40, 7, 55, 37]
[90, 56, 40, 15, 0]
[65, 44, 63, 40, 39]
[65, 18, 79, 0, 40]
60 : [190, 40]
[84, 79, 95, 24, 0]
61 : [640, 24]
[75, 19, 31, 44, 84]
[93, 98, 63, 79, 19]
62 : [484, 19]
[14, 37, 25, 95, 48]
63 : [348, 48]
[35, 76, 31, 62, 66]
[39, 37, 98, 76, 63]
64 : [419, 76]
[73, 44, 79, 26, 48]
[15, 97, 40, 47, 73]
65 : [455, 73]
[72, 77, 49, 93, 55]
[85, 49, 88, 83, 30]
[49, 14, 42, 88, 79]
[49, 86, 48, 65, 84]
66 : [324, 49]
[69, 97, 61, 75, 34]
[32, 34, 61, 48, 63]
[76, 70, 34, 97, 95]
67 : [421, 34]
[17, 45, 55, 46, 93]
[14, 45, 97, 93, 17]
[66, 45, 8, 24, 2]
[18, 40, 45, 8, 20]
[88, 45, 95, 76, 17]
68 : [348, 45]
[42, 47, 79, 45, 73]
[31, 82, 73, 45, 77]
[41, 58, 89, 82, 32]
[24, 82, 97, 63, 89]
69 : [319, 82]
[95, 22, 85, 52, 41]
[69, 49, 22, 83, 55]
[22, 86, 1, 55, 73]
[86, 22, 66, 18, 52]
70 : [280, 22]
[19, 40, 61, 47, 22]
[98, 80, 54, 45, 26]
71 : [222, 80]
[86, 97, 93, 78, 55]
[78, 67, 96, 80, 49]
72 : [305, 78]
73 : [305, 78]
74 : [305, 78]
[75, 69, 45, 59, 24]
[59, 23, 49, 97, 1]
75 : [248, 59]
[95, 91, 31, 8, 63]
76 : [246, 91]
[64, 29, 67, 44, 82]
[54, 71, 95, 64, 68]
[61, 39, 37, 64, 46]
77 : [252, 64]
[64, 88, 41, 98, 63]
[41, 24, 64, 87, 42]
78 : [195, 43]
[20, 73, 21, 90, 77]
79 : [229, 21]
[66, 91, 71, 29, 45]
80 : [270, 51]
[91, 69, 61, 51, 84]

13158

## Day 3: Binary Diagnostic

In [ ]:
example = """00100
11110
10110
10111
10101
01111
00111
11100
10000
11001
00010
01010""".split()

In [ ]:
matrix = [list(n) for n in example]
matrix

[['0', '0', '1', '0', '0'],
 ['1', '1', '1', '1', '0'],
 ['1', '0', '1', '1', '0'],
 ['1', '0', '1', '1', '1'],
 ['1', '0', '1', '0', '1'],
 ['0', '1', '1', '1', '1'],
 ['0', '0', '1', '1', '1'],
 ['1', '1', '1', '0', '0'],
 ['1', '0', '0', '0', '0'],
 ['1', '1', '0', '0', '1'],
 ['0', '0', '0', '1', '0'],
 ['0', '1', '0', '1', '0']]

In [ ]:
def bin_to_int(list):
  return int('0b'+"".join(np.array(list).astype(str)), base=2)

def solve_part1(data):
  matrix = [list(n) for n in data]
  rates = [(round(np.mean(line)), round(1-np.mean(line))) for line in np.array(matrix).T.astype(int)]
  rates_int = [bin_to_int(l) for l in np.array(rates).T]
  return np.multiply(*rates_int)

In [ ]:
solve_part1(example)

198

In [ ]:
r = requests.get(path+'AoC2021_03.txt')
data = r.text.split('\n')[:-1]
solve_part1(data)

3813416

In [ ]:
def solve_part2(data):
  matrix = [list(n) for n in data]
  # Create dataframe of positions
  # Columns' names are integers by default
  df = pd.DataFrame(matrix).astype(int)

  # Initialize a dataframe
  df_o2 = df.copy()
  # Apply the bit criteria
  for col in range(df.shape[1]):
    print('O2', col)
    # Count 0 and 1 in stage col
    vc_o2 = df_o2[col].value_counts().to_dict()
    # Decide which number keep for o2
    if vc_o2.get(1, 0) > vc_o2.get(0, 0) or vc_o2.get(1, 0) == vc_o2.get(0, 0): 
      df_o2 = df_o2.loc[df_o2[col] == 1]
    else:
      df_o2 = df_o2.loc[df_o2[col] == 0]
    # If there is only one number, stop
    if df_o2.shape[0] == 1:
      break
  print('\n', df_o2, '\n')
    
  # Initialize a dataframe
  df_co = df.copy()
  # Apply the bit criteria
  for col in range(df.shape[1]):
    print('CO2', col)
    # Count 0 and 1 in stage col
    vc_co = df_co[col].value_counts().to_dict()
    # Decide which number keep for co2
    if vc_co.get(1, 0) > vc_co.get(0, 0) or vc_co.get(1, 0) == vc_co.get(0, 0): 
      df_co = df_co.loc[df_co[col] == 0]
    else:
      df_co = df_co.loc[df_co[col] == 1]
    # If there is only one number, stop
    if df_co.shape[0] == 1:
      break
  print('\n', df_co, '\n')

  return bin_to_int(df_o2.iloc[0].to_list())*bin_to_int(df_co.iloc[0].to_list())

In [ ]:
solve_part2(example)
# Should be 230

O2 0
O2 1
O2 2
O2 3
O2 4

    0  1  2  3  4
3  1  0  1  1  1

CO2 0
CO2 1
CO2 2

     0  1  2  3  4
11  0  1  0  1  0

230

In [ ]:
solve_part2(data)
# Should be 2990784

O2 0
O2 1
O2 2
O2 3
O2 4
O2 5
O2 6
O2 7
O2 8
O2 9
O2 10

      0   1   2   3   4   5   6   7   8   9   10  11
543   1   0   0   1   1   1   0   1   1   1   1   0

CO2 0
CO2 1
CO2 2
CO2 3
CO2 4
CO2 5
CO2 6
CO2 7

      0   1   2   3   4   5   6   7   8   9   10  11
324   0   1   0   0   1   0   1   0   0   0   0   0

2990784

## Day 2: Dive!

In [ ]:
example = """forward 5
down 5
forward 8
up 3
down 8
forward 2""".split("\n")

In [ ]:
def get_hp(row):
  if row['direction'] == 'forward':
    return row['value']
  else:
    return 0

def get_depth(row):
  if row['direction'] == 'down':
    return row['value']
  elif row['direction'] == 'up':
    return -row['value']
  else:
    return 0

def solve_part1(data):
  """Calculate a horizontal position and depth"""

  df = pd.DataFrame(data, columns=['instruction'])
  df['direction'] = df.instruction.apply(lambda s: s.split()[0])
  df['value'] = df.instruction.apply(lambda s: int(s.split()[1]))
  df['hp'] = df.apply(get_hp, axis=1)
  df['depth'] = df.apply(get_depth, axis=1)
  result = df.hp.sum()*df.depth.sum()
  return result

In [ ]:
solve_part1(example)

150

In [ ]:
r = requests.get(path+'AoC2021_02.txt')
data = r.text.split('\n')[:-1]
solve_part1(data)

2036120

In [ ]:
def solve_part2(data):
  """Calculate a horizontal position and depth with aim"""

  df = pd.DataFrame(data, columns=['instruction'])
  df['direction'] = df.instruction.apply(lambda s: s.split()[0])
  df['value'] = df.instruction.apply(lambda s: int(s.split()[1]))
  hp, depth, aim = 0, 0, 0
  for _, row in df.iterrows():
    if row['direction'] == 'down':
      aim = aim + row['value']
    elif row['direction'] == 'up':
      aim = aim - row['value']
    else:
      hp = hp + row['value']
      depth = depth + aim * row['value']
  return hp * depth

In [ ]:
solve_part2(example)

900

In [ ]:
solve_part2(data)

2015547716

## Day 1: Sonar Sweep

In [ ]:
r = requests.get(path+'AoC_01.txt')
# Ignore empty string on the end
data = r.text.split('\n')[:-1]

**Part One**: Count the number of times a depth measurement increases from the previous measurement.

In [ ]:
df = pd.DataFrame([int(d) for d in data], columns=['depth'])
df['diff'] = df.depth.diff()
df

      depth  diff
0       141   NaN
1       140  -1.0
2       160  20.0
3       161   1.0
4       162   1.0
...     ...   ...
1995   9081   1.0
1996   9084   3.0
1997   9089   5.0
1998   9102  13.0
1999   9105   3.0

[2000 rows x 2 columns]

In [ ]:
df.query('diff > 0').shape

(1692, 2)

**Part Two**: Consider sums of a three-measurement sliding window. Your goal now is to count the number of times the sum of measurements in this sliding window increases from the previous sum.

In [ ]:
df.depth.astype('float', copy=False)

0        141.0
1        140.0
2        160.0
3        161.0
4        162.0
         ...
1995    9081.0
1996    9084.0
1997    9089.0
1998    9102.0
1999    9105.0
Name: depth, Length: 2000, dtype: float64

In [ ]:
df['window'] = df.depth.rolling(3).sum()
df['window_diff'] = df.window.diff()
df.query('window_diff > 0').shape

(1724, 4)